    body {
background-image: url(back2.jpg);
background-attachment: inherit;
background-repeat: no-repeat;
background-size: 100%;
min-height: 720px;
min-width:1280;
}
@font-face {
    font-family: "steampunk";
    src: url('steampunk.ttf');
}

@font-face {
    font-family: "cutthecrap";
    src: url('cutthecrap.ttf');
}

header {
font-family: "cutthecrap";
font-size: 50px;
color: lightgray;
padding-left: 100px;
}


nav {


  }


  ol   {
    display: inline;
    margin-left:105px;
    padding: 13px;
    font-size: 26px;
    font-family: "cutthecrap";
  }

  a:link {color: lightgray ;
  text-decoration: none;
}
  a:visited {color: lightgray;}
  a:hover {color: grey;}
  a:active {color: grey;}
