body {
background-image: url(back2.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: 100%;

}
@font-face {
    font-family: "steampunk";
    src: url('steampunk.ttf');
}

@font-face {
    font-family: "cutthecrap";
    src: url('cutthecrap.ttf');
}

header {
font-family: "cutthecrap";
font-size: 3.2em;
color: lightgray;
padding-left: 100px;
}


nav {

font-size: 1.5em;
font-family: "cutthecrap";
  }

  #deroul {
height: 20%;
width: 20%;
  }

  ol   {
    display: inline-block;
    border-radius: 8px;
    padding-right: 40px;
    padding-left: 105px;
  }

  a:link {color: lightgray ;
  text-decoration: none;
}
  a:visited {color: lightgray;}
  a:hover {color: grey;}
  a:active {color: grey;}
